In [5]:
# Practice problem: Scraping amazon.in to get shoe price data 
import pprint,requests,bs4
import pandas as pd

In [6]:
#constants
url = "https://www.amazon.in/s?k=sport+shoes&qid=1625391361"
param_ref= "&ref=sr_pg_"
param_page= "&page="

In [7]:
def scrape_website(url):
    req = requests.get(url)
    # create a bs4 object
    # To avoid warnings, provide "html5lib" explicitly
    #html.parser
    return bs4.BeautifulSoup(req.content, "lxml")

In [25]:
df = pd.DataFrame(columns=['Id','Brand','Description','Price','Discount','Rating','Total_Reviews','Free_Delivery'])
df.set_index('Id')
product_id=1
#Actual Run
for page in range (1,8): 
    page_string = str(page)
    url = url+param_ref+page_string+param_page+page_string
    response = scrape_website(url)
    
    search = response.find_all("div",  attrs={"id": 'search'})[0]
    product_spans = search.find_all("span",attrs={"class": 'celwidget slot=MAIN template=SEARCH_RESULTS widgetId=search-results'})
    
    for product in product_spans:
        try:
            brand = product.find("span",attrs={"class":'a-size-base-plus a-color-base'}).string
            description = product.find("span",attrs={"class":'a-size-base-plus a-color-base a-text-normal'}).string
            price = float(product.find("span",attrs={"class":'a-price a-text-price'}).find("span",attrs={"aria-hidden":'true'}).string.replace(',','').replace('â‚¹',''))
            discount  = float(product.find("span",attrs={"class":'a-price'}).find("span",attrs={"aria-hidden":'true'}).find("span",attrs={"class":'a-price-whole'}).string.replace(',',''))
            rating  = float(product.find("span",attrs={"class":'a-icon-alt'}).string.split("out")[0].strip())
            num_of_reviews  = int(product.find("span",attrs={"class":'a-size-base'}).string.replace(',',''))
            delivery_content  = product.find("div",attrs={"class":'a-row a-size-base a-color-secondary s-align-children-center'}).string
            is_free_deliver = delivery_content.lower().count("free delivery") >0 
        except AttributeError:

               is_free_deliver = False
        #row = pd.DataFrame.from_dict({'Brand':brand,'Description':description,'Price':price,'Discount':discount,'Rating':rating,'Number_Of_Reviews':num_of_reviews,'Delivery':delivery_content})
        a_row = [product_id,brand,description,price,discount,rating,num_of_reviews,is_free_deliver]
        #df= pd.concat([df,a_row],ignore_index=True)
        df.loc[len(df)] = a_row
        product_id +=1

In [26]:
print(df.head(10))

   Id                Brand                                        Description  \
0   1                CLYMB          Outdoor Sports Running Shoes for Mens Boy
1   2                Sparx                            Men SM-482 Sports Shoes
2   3                Sparx                           mens Sm-602 Running Shoe
3   4                Sparx                                 Men's Running Shoe
4   5               Bourge       Men's Loire-61 Navy and D.Grey Running Shoes
5   6               ALICON  Sports Shoes for Men | Lace up Lightweight Sho...
6   7          A ANTIC MOP       Black Fashion Sport Men's Running Shoes(901)
7   8              Sklodge  Men's Air Wonder Series Mesh Sports Casual Sho...
8   9  WORLD WEAR FOOTWEAR  Men's (9212-9310) Multicolor Casual Sports Run...
9  10               Ethics                                   mens Shoes Shoes

    Price  Discount  Rating Total_Reviews Free_Delivery
0   999.0     299.0     3.0          1680          True
1  1349.0     935.0     4.1          3848         False
2  1049.0     807.0     4.2           268         False
3  1049.0     807.0     4.2          6188         False
4  1499.0     522.0     3.9          9877         False
5  1499.0     499.0     2.8           105         False
6  1099.0     449.0     3.3            76          True
7   999.0     418.0     3.2           530         False
8   998.0     499.0     2.0             1         False
9   499.0     330.0     3.4           314          True

In [13]:
df_rating_avg = df.groupby(['Brand']).agg('mean')

In [14]:
print(df_rating_avg.sort_values(['Rating'],ascending=False))

                                Rating
Brand
road runner                   5.000000
ARKS                          5.000000
Tior                          4.500000
Pro                           4.400000
Shoefly                       4.350000
Puma                          4.213333
Coaster                       4.200000
Cogs                          4.200000
ASICS                         4.200000
Bacca Bucci                   4.175000
Liberty                       4.112500
VGOOD                         4.100000
AFROJACK                      4.100000
ACTION                        4.100000
Adidas                        4.085714
Bourge                        4.053333
Sparx                         4.021429
Centrino                      4.000000
ZORIK                         4.000000
Generic                       4.000000
Harmeet                       4.000000
FURO by Redchief              4.000000
Mikaasa                       4.000000
Fusefit                       4.000000
Campus                        3.974074
Action Shoes                  3.966667
Power                         3.936364
Nivia                         3.933333
Lancer                        3.912500
LAVISTA                       3.900000
...                                ...
SEGA                          3.720000
Longwalk                      3.700000
Big Fox                       3.650000
Bond Street by (Red Tape)     3.600000
aadi                          3.600000
BUCADIA                       3.600000
Chevit                        3.500000
Columbus                      3.500000
Inklenzo                      3.500000
Robbie jones                  3.400000
CLYMB                         3.387500
Ethics                        3.316667
Amico                         3.300000
White Walkers                 3.300000
ENJOY the celebration people  3.300000
KAVON                         3.300000
A ANTIC MOP                   3.300000
T-Rock                        3.266667
Maddy                         3.200000
FASHION WORLD                 3.200000
BERKINS                       3.100000
SHURAB                        3.000000
Auras                         3.000000
Sklodge                       3.000000
MOUNTREXO                     2.900000
Running Rider                 2.800000
ALICON                        2.800000
H-LEEWARD                     2.700000
2ROW                          2.600000
DzVR                          2.500000

[71 rows x 1 columns]

In [22]:
df_products = df.groupby(['Brand']).agg('sum')
print(df_products.head(50))

                              Rating
Brand
2ROW                             2.6
A ANTIC MOP                      3.3
ACTION                           4.1
AFROJACK                         4.1
ALICON                           2.8
ARKS                             5.0
ASIAN                           53.4
ASICS                            4.2
Action Shoes                    11.9
Adidas                          28.6
Amico                            3.3
Auras                            3.0
BERKINS                          6.2
BLACKTOWN                        7.6
BUCADIA                         10.8
Bacca Bucci                     16.7
Big Fox                          7.3
Bond Street by (Red Tape)        3.6
Bourge                          60.8
CLYMB                           27.1
Campus                         107.3
Centrino                         4.0
Chevit                           3.5
Coaster                          4.2
Cogs                            12.6
Columbus                         3.5
DzVR                             2.5
ENJOY the celebration people     6.6
Ethics                          19.9
FASHINO                          7.6
FASHION WORLD                    3.2
FURO by Redchief                 4.0
Fusefit                          4.0
Generic                         16.0
GoldStar                         7.8
H-LEEWARD                        2.7
Harmeet                          4.0
Inklenzo                         3.5
KAVON                            3.3
Kraasa                          11.7
LAVISTA                          3.9
Lancer                          31.3
Liberty                         32.9
Longwalk                         3.7
Lotto                           15.5
MOUNTREXO                        2.9
Maddy                            6.4
Mikaasa                          4.0
Nivia                           11.8
Power                           43.3

In [21]:
df_brand_prod = df.groupby(['Brand','Description'])

In [28]:
print(df.pivot_table(index='Brand',values='Total_Reviews',aggfunc='sum').sort_values('Total_Reviews',ascending=False))

                              Total_Reviews
Brand
ASIAN                                 70731
Sparx                                 67519
Bourge                                62033
WORLD WEAR FOOTWEAR                   41236
Campus                                26868
Lotto                                 13866
Adidas                                 9675
Lancer                                 7803
Power                                  7624
Ethics                                 7520
T-Rock                                 7121
Reebok                                 5285
AFROJACK                               5268
Puma                                   3565
Fusefit                                3081
TRASE                                  3067
Inklenzo                               3067
CLYMB                                  2687
Nivia                                  2583
aadi                                   1830
Big Fox                                1536
SEGA                                   1508
Shoefly                                1429
Columbus                               1419
KAVON                                  1225
Liberty                                1117
Red Chief                               930
Kraasa                                  915
Bacca Bucci                             903
TYING                                   829
...                                     ...
White Walkers                           217
Robbie jones                            158
LAVISTA                                 123
ACTION                                  110
ALICON                                  105
Tior                                    105
Longwalk                                 89
MOUNTREXO                                80
A ANTIC MOP                              76
FURO by Redchief                         67
BERKINS                                  48
SHURAB                                   40
H-LEEWARD                                39
DzVR                                     37
Amico                                    27
VGOOD                                    22
Running Rider                            22
Bond Street by (Red Tape)                22
Pro                                      21
Coaster                                  21
Harmeet                                  13
Generic                                  12
FASHION WORLD                            10
Action Shoes                              9
ENJOY the celebration people              6
2ROW                                      4
ARKS                                      3
Auras                                     1
ZORIK                                     1
road runner                               1

[71 rows x 1 columns]